[2017-08-24 07:57] senthilbalajiganesan opened #1 "Cannot clear cookies, problem while logging out"
I tried logging out but it puts an error saying unhandled promise rejection and type error. and cannot clear cookies also.

[2017-08-24 08:21] senthilbalajiganesan commented on #1
OOpppssss!! sorry !! everything is working perfectly!! I didn't link react-native-cookie to the android studio!!
Awesome lib!! Thank u for sharing!!

[2017-08-24 10:12] #1 closed

[2017-10-09 22:57] bispul opened #2 "How do you logout?"
I tried the logging out as said in the documentation but got undefined is not an object (evaluating 'CookieManager.clearCookies'). I have attached the screenshot. Can anyone please help me with this?
![screen shot 2017-10-09 at 5 54 57 pm](https://user-images.githubusercontent.com/11752864/31361869-45468d80-ad1b-11e7-8c87-2270f9243965.png)

[2017-10-10 02:40] hungdev commented on #2
are you try with example?

[2017-10-10 11:52] marcoizzo opened #3 "Cannot read property 'string' of undefined"
After install and import I get this error:

<img width="374" alt="schermata 2017-10-10 alle 13 48 03" src="https://user-images.githubusercontent.com/13518657/31385099-161ae96e-adc2-11e7-8ba2-b8f48ea3f28d.png">

I use `import InstagramLogin from 'react-native-instagram-login'`
React versione: 0.49.3

Thanks

[2017-10-10 14:24] hungdev commented on #3
thank for report. this issue fixed. please check it again.

[2017-10-10 14:34] marcoizzo commented on #3
It works! Thank you!

[2017-10-10 14:34] #3 closed

[2017-10-14 18:49] brkrtp commented on #2
+1 Same

[2017-10-14 21:04] bispul commented on #2
ohh thanks @brkrtp

[2017-10-14 21:04] #2 closed

[2018-01-22 07:11] Dhanraj-bidchat opened #7 "Popup dialog for instagram login cuts on iPhoneX"
On iPhone X, popup dialog that allows user to enter login details cuts at top.

[2018-01-23 00:00] soikatesc opened #8 "Redirect uri not matches?"
# What would be the redirect uri?

 On instagram when I tried to register a ne
![oauth_exce](https://user-images.githubusercontent.com/24787023/35250823-8407ad46-ffa6-11e7-99e4-214d538833b9.png)
w client it ask me to enter redirect uri.

[2018-01-28 03:22] reactionic127 commented on #8
I am getting same issue.

[2018-01-31 12:59] hungdev commented on #8
sorry I'm late. last week i'm busy.
Your website url must be same when registering sandbox client api on instagram https://www.instagram.com/developer/
here we used website url: https://google.com Valid redirect URIs: https://google.com
<img width="1309" alt="screen shot 2018-01-31 at 7 58 27 pm" src="https://user-images.githubusercontent.com/12009276/35624298-30179f30-06c1-11e8-8e87-36f9c432face.

[2018-01-31 13:01] reactionic127 commented on #8
Thanks for your response.
In my case, I added the matched redirect URI on frontend code.
It works well on my side.
Regards.

[2018-02-02 14:48] hungdev commented on #7
you can style for webview.

[2018-02-14 15:54] MichelDiz opened #9 "Proposal of channel discussion"
Hi, I took the liberty of creating a public chat in the discord facing React-Native. With the intention of uniting the React-native community and improving communication.

I'm creating a channel for public discussions about your project. To avoid flooding "chat" on your github. If you can support the initiative, great! Just share the link below xD

I'm adding RN only projects to this public chat s

[2018-02-23 07:05] #9 closed

[2018-02-23 07:05] #8 closed

[2018-03-04 04:44] hungdev commented on #7
@Dhanraj-bidchat , Thank for your report. But could you capture that issue for me?

[2018-03-06 21:17] kevinscience commented on #7
Thank you for contribution!
I tried on iOS simulator. It seems getting more white space. Is this supposed to be?
![screen shot 2018-03-06 at 4 14 10 pm](https://user-images.githubusercontent.com/19722517/37058838-c0b3bd3c-2159-11e8-8df7-2cfb2819003a.png)

[2018-03-10 15:27] hungdev commented on #7
In some cases, the error returned will be displayed immediately below. If I stylesheet to fit login form, it will be masked. I have not found a solution yet.

[2018-03-14 16:49] amanolar94 opened #10 "this.webView.injectJavascript is not a function"
I get this error. Any ideas? This is the code below

[code]

[2018-03-16 16:50] hungdev commented on #10
Could you capture that issue for me?

[2018-03-19 00:55] hungdev commented on #10
@amanolar94  do you solve the error?

[2018-05-02 14:35] durgaganesh opened #11 "Getting error on Forget Password action"
When I click on "Forget Password" link, I am getting error screen as I attached in my Android emulator. Could you please check it
![screen shot 2018-05-02 at 5 22 16 pm](https://user-images.githubusercontent.com/2277554/39529353-15f2b692-4e44-11e8-94d3-48e39915fbab.png)

[2018-05-02 14:56] hungdev commented on #11
i run still fine. Could you give me your code?

[2018-05-02 16:52] hungdev commented on #10
updated. please try again.

[2018-05-04 11:52] nihp commented on #11
@hungdev I am getting the same error when I click on the "Forgot Password" in my iPhone7 plus simulator.

![screen shot 2018-05-04 at 4 32 43 pm](https://user-images.githubusercontent.com/36992338/39626471-a0dab5da-4fbf-11e8-88b9-7028e956cac4.png)

[2018-05-04 13:15] hungdev commented on #11
@nihp  please install the last version.

[2018-05-04 13:27] nihp commented on #11
@hungdev I have installed latest version package of "react-native-instagram-login@1.0.6". But it does not resolved yet

[2018-05-04 13:30] hungdev commented on #11
@nihp  remove node_modules then reinstall.

[2018-05-04 14:17] hungdev commented on #11
@nihp  everything ok?

[2018-05-05 05:18] nihp commented on #11
@hungdev No, It does not resolved. I removed the node_modules and reinstalled. But it not worked in simulator

[2018-05-05 07:25] hungdev commented on #7
@nihp docs: https://github.com/hungdev/react-native-instagram-login#styles
some override style like closeStyle:
modalWarp, keyboardStyle, contentWarp, webView, btnStyle

[2018-05-08 10:11] Ilario17 opened #12 "Implicit authentication is disabled"
this is my Component:

<InstagramLogin
	ref='instagramLogin'
        clientId='eeeee'
	redirectUrl='eee'
	scopes={['basic']}
	onLoginSuccess={(token) => console.log(token)}
	onLoginFailure={(data) => console.log(data)}
/>

[2018-05-08 10:14] hungdev commented on #12
could you give me the capture?

[2018-05-08 10:15] hungdev commented on #12
try this
https://stackoverflow.com/questions/30322694/instagram-error-implicit-authentication-is-disabled

[2018-05-08 10:15] Ilario17 commented on #12
![simulator screen shot - iphone 6 - 2018-05-08 at 12 14 49](https://user-images.githubusercontent.com/33326791/39751769-821390ca-52b9-11e8-9436-01d350a7d2c1.png)

[2018-05-08 10:19] #12 closed

[2018-05-21 04:24] thangkho opened #13 "Chỉ login được với tài khoản dùng để đăng kí client id"
Khi mình dùng ex của bạn để login( đã thay client id... bằng id của mình) nhưng khi login nó chỉ login được với tài khoản dùng để đăng ký client id.. còn với tài khoản khác thì hiện lỗi : you are not a sandbox user or this client.
Mong bác giúp mình khắc phục lỗi này với

[2018-05-22 03:50] hungdev commented on #13
bạn phải add nó vô sanbox user.

[2018-05-22 15:26] amanolar94 opened #14 "Error on login webview"
After I login I get redirected to the following:
![screenshot_20180522-155046](https://user-images.githubusercontent.com/23638009/40372500-bd295acc-5ddc-11e8-847d-8876efae0dab.png)

I tried deleting cookies but the problem still exists. any ideas?

[2018-05-25 08:43] hungdev commented on #14
let check your redirect URIs in your code and  https://instagram.com/developer/clients/manage/, tab Security. If it still errors, you can remove app and rerun again.

[2018-05-25 08:52] hungdev commented on #13
đúng rồi bạn.

[2018-05-26 08:15] superandrew213 commented on #14
@amanolar94 are you located in a European country?

[2018-05-26 09:59] amanolar94 commented on #14
I also think it's because of that. I used VPN to connect outside Europe and everything was working fine

[2018-05-26 13:10] superandrew213 commented on #14
@amanolar94 can you try to login in on your Instagram app?

Would love to know if this issue is with this login form only or with the Instagram app too. I'm pretty sure Instagram is using a WebView for their login form on their app too.

I'm in Australia and it's working fine for me.

[2018-05-26 13:39] superandrew213 commented on #14
Thanks for testing. I think there could be a way we could fix this.

Can you try going to this link on your browser, try to login and let me know what happens. Do you get any accept cookies pop, etc?

https://www.instagram.com/accounts/login/?force_classic_login=&client_id=XXXXXX&next=/oauth/authorize/?client_id=XXXXXX&redirect_uri=XXXXXX&response_type=code

Please replace XXXXXX with your client_

[2018-05-26 13:43] amanolar94 commented on #14
@superandrew213 seems promising. I can't test it at the moment. I will let you know when I have an update!

[2018-05-28 08:54] amanolar94 commented on #14
@superandrew213 OK i tried both but I seem to get the following error: `{"error_type": "OAuthException", "code": 400, "error_message": "You must include a valid client_id, response_type, and redirect_uri parameters"}` I noticed though that the url on the browses is the following:  `https://www.instagram.com/oauth/authorize/?client_id=XXXXXXXXXXXXX` which i guess means for some reason the parameter

[2018-05-28 23:56] superandrew213 commented on #14
@amanolar94 you have to replace the `XXXXX` in the url with your values.

Are you still getting the login issue when you try to login with Instagram on your app? I think Instagram might have fixed it.

[2018-05-29 11:07] amanolar94 commented on #14
@superandrew213 No they have not fixed it yet. I have replaced the XXXs with the values but for some reason after the login the parameters don not pass along with the client id.

[2018-05-29 12:49] Ilario17 commented on #14
@superandrew213 I've the same issue and your first link return me the same error message.

[2018-05-29 13:09] amanolar94 commented on #14
@Ilario17 are you also located in Europe?

[2018-05-29 13:11] Ilario17 commented on #14
@amanolar94 Yes, wait Instagram is the only solution?

[2018-05-29 13:31] amanolar94 commented on #14
@Ilario17 It's not the only but we had it as a signup method and it does not seem to work

[2018-05-30 00:56] superandrew213 commented on #14
Ok. Let's try this link:
[code]

Please don't forget to replace `XXXXX` with your values. Once you go to this link you will be redirected to this url:

[code]

Try to login and let me know what happens here. Do you get some sort of error, cookie pop up and also check console output.

[2018-05-31 10:42] superandrew213 commented on #14
@amanolar94 and @Ilario17 did you guys have a chance to do the test above?

[2018-06-04 08:01] Ilario17 commented on #14
Hi,

when I login from Simulator in the first link, I encounter the same issue:

![schermata 2018-06-04 alle 10 00 29](https://user-images.githubusercontent.com/33326791/40905431-367c2ef8-67de-11e8-8f94-e0ca473fc931.png)

[2018-06-04 13:54] superandrew213 commented on #14
@Ilario17 thanks! Can you please try it on the browser too?

[2018-06-06 05:20] nihp opened #15 "Clarification about the login webview of instagram"
I am using the react-native-instagram-login package for sign in my app. The login webview shows only Username and password. But now it redirecting to different UI.

Initially the webview was like [this](https://github.com/hungdev/react-native-instagram-login/issues/7#issuecomment-386259731). Now it redirecting to the below attached UI. Kindly clarify

![screen shot 2018-06-06 at 10 45 18 am](https

[2018-06-07 07:50] Ilario17 commented on #14
@superandrew213 I tested it in Safari inside Simulator

[2018-06-07 15:49] superandrew213 commented on #14
@Ilario17 please try one last thing. Go to the login link above but don’t login. After the login form loads, go to the URL and remove this part ‘force_classic_login=&’ and then press enter and try to login.

[2018-06-08 07:55] Ilario17 commented on #14
Hi @superandrew213 there isn't `force_classic_login` . When I try with both links, the redirect happens on this link:

https://www.instagram.com/accounts/login/?next=/oauth/authorize/%3Fclient_id%3myclientID%26redirect_uri%3Dmycallback%26response_type%3Dtoken

![simulator screen shot - iphone 6 - 2018-06-08 at 09 55 32](https://user-images.githubusercontent.com/33326791/41145982-1c864db8-6b02-11e8

[2018-06-09 09:39] eslambasher commented on #15
1+

[2018-06-11 01:38] superandrew213 commented on #14
@Ilario17 interesting! That's not the form I get. They must be redirecting some users to this new form. I am getting the old form.

Please try adding `force_classic_login=&` to the url of the new form you are getting. Like this:

[code]

[2018-06-12 02:56] dannyyaou opened #16 "onMessage function of Webview predefined"
when I try to start login view, this popped out.
![image](https://user-images.githubusercontent.com/8759099/41267702-1688d810-6e2f-11e8-90be-b75e3b79f536.png)
Can somebody help me out?
Thanks a lot.

version

RN: 0.40.0

[2018-06-12 03:02] hungdev commented on #16
I think its old version lib.
Remove react-native-instagram-login from node_modules, remove package name react-native-instagram-login from package.json then reinstall react-native-instagram-login newest version.
If it still errors, please let me know. I will fix it as soon as possible.

[2018-06-14 14:54] maneeshprajapati commented on #16
@hungdev 2 weeks ago Instagram login was working perfectly fine in my app. But today it started throwing the same error. I'm not sure why this is happening. I will try your solution and will update if it works.

[2018-06-14 15:09] maneeshprajapati commented on #16
@hungdev installed the latest version of lib but this issue is still occurring. When I dismiss this error it shows Instagram login popup on screen. After a successful login this error screen appears again and after dismissing this it shows Instagram logged user details on popup. Can you please help me out of this?

[2018-06-14 19:13] hungdev commented on #16
updated. please try again.

[2018-06-14 19:14] hungdev commented on #15
This is an update from instagram.

[2018-06-14 19:21] hungdev commented on #11
updated. please try again.

[2018-06-21 01:32] #16 closed

[2018-06-21 01:33] #11 closed

[2018-07-04 13:32] Ilario17 commented on #14
The problem seems gone without the need for changes :)

[2018-09-28 08:48] isaachinman commented on #15
So is it the case that this package just uses the implicit serverless webview functionality, and nothing more?

[2018-10-12 21:58] Solitaryo opened #18 "How is supposed to work?"
I can't make it work at all.
The modal appears, put the info, and it just give me lots of promises warnings, but that's all, it does nothing, doesn't return a token or any kind of data.
And after you login, the only thing you get is your instagram page, but no token, no nothing.

I'm using Macbook pro, OSX 10.13.6.
Node version 10.10.0
"react": "16.4.1",
"react-native": "0.56.0",
"react-native-ins

[2018-10-13 04:51] hungdev commented on #18
Have you changed client id and set up it in
https://www.instagram.com/developer/register/ yet?

[2018-10-14 16:43] hagar0459 opened #19 "new instagram interface for login not responding"
i followed Instagram login example and replaced the xxxx with my client id but the web view is responding very badly either to enter username and password or to hit the login button

[2018-10-15 10:59] ayberkanilatsiz commented on #19
same +1

[2018-10-15 13:15] ayberkanilatsiz commented on #19
@hagar0459 https://github.com/hungdev/react-native-instagram-login/pull/20

i send pull request it works fine.

[2018-10-15 17:18] hungdev commented on #19
I tried with the example. It still runs fine. Please check your setup in: https://www.instagram.com/developer/

[2018-10-17 06:53] roulydev commented on #13
e chào bác! hnay instagram nó mới duyệt app cho để login vs email khác...
Nhưng hiện tại khi login thì nó hiện thị lỗi `{"error_type" : "OAuthException" , "code" : 400 , "error_message" : " Redirect URI dose not match registered redirect URI"}`
E không hiểu rõ lăm về  `Valid redirect URIs` trong setting. Url như thế nào thì mới hợp lệ ạ?
Mong bác giúp đỡ.

[2018-10-17 06:59] hungdev commented on #13
cái domain rederect trong code với cái domain đăng ký trong  https://www.instagram.com/developer/ phải giống nhau bạn.

[2018-10-17 07:56] thangkho commented on #13
Còn nó không yêu cầu gì về url đó phải không bcá? E dẫn đên link website công ty cũng ok nhỉ?

[2018-10-26 12:47] nicolasnsosa commented on #19
Hi Hungdev,

Sorry, I know is this not the thread but I want to know if you have information about review times for a new client app on Instagram. The plugin works perfect but I have stuck on Instagram review process.

Thank you so much.

[2018-11-05 15:45] sandy428 commented on #19
I am still seeing the error even with the Example and the client Id inside the example.
OS Version  - Android 8.1

[2018-12-04 08:02] sabirbasha commented on #8
Am getting same issue i have tried with all the suggestions still am getting same Error. Could you any one please help to resolve the issue

[2018-12-07 14:37] warlock opened #22 "Webview always logged."
I would like to be able to log out and log back in with another user.
It seems that webview remember login.

Any ideas?
Thank you!

[2018-12-07 14:38] hungdev commented on #22
https://github.com/hungdev/react-native-instagram-login#logout

[2018-12-07 14:40] warlock commented on #22
Yes, sorry i forgot comment. react-native-cookie not working for me. :(
I'm usign Expo. Maybe it's a problem?

[2018-12-07 14:42] hungdev commented on #22
you can try with https://github.com/joeferraro/react-native-cookies to clear cookie

[2018-12-07 16:30] warlock commented on #22
Thank you. I have problems linking in expo. Later try and send the comment.

[2018-12-07 16:30] #22 closed

[2018-12-29 16:18] hungdev commented on #19
I just updated a bit. if guys still get the error, please comment here, I will reopen the issue and try to fix it. thanks!

[2018-12-29 16:18] #19 closed

[2018-12-29 16:20] #13 closed

[2018-12-29 16:20] #18 closed

[2019-01-12 08:02] webmasterdragon opened #23 "Webview modal is not closing"
After I get token, I have to close modal or something close automatically?
Here is my code:

[code]

 Dev Info:
[code]

Testing Device: `iOS simulator`

After token alert come up, automatically disappear and app crashed. close button also not working.

[2019-01-12 08:10] hungdev commented on #23
@webmasterdragon
After successful login, it will automatically close modal and you do not need to call hide function.
have you tried my example yet? Please give me your record crash video.

[2019-01-12 08:12] webmasterdragon commented on #23
Just fixed by adding this.
`modalVisible={this.state.instagramToken === '' || !this.state.instagramToken ? true : false}`
Thanks.

[2019-01-12 08:12] #23 closed

[2019-01-21 07:19] sujay-bidchat opened #24 "Redirect issue - Instagram login issue in 'Suspicious Login Attempt' flow"
@hungdev @euharrison @santiagofm @areazus While trying to sign in sometimes **Suspicious Login Attempt** screen is shown where we can enter security code. After successfully entering the code it is redirected to Instagram home screen (www.instagram.com) instead of our **redirect_uri** which we pass.

[2019-01-23 16:50] hungdev commented on #24
After redirecting to Instagram, if you turn off the modal and log in again,it will display authentication as usual.
I am relying on the results returned to catch webview reload. But the results are not very different.
Do you have any ideas?
![rd](https://user-images.githubusercontent.com/12009276/51622668-9f879200-1f69-11e9-8ca3-9aafc8e5754f.png)

[2019-01-24 03:43] hungdev commented on #24
@sujay-bidchat
I fixed this bug and create a new release version. please remove the old version and reinstall new version 1.1.0.
If you still get this error, please comment and tag me here.

[2019-01-24 06:00] sujay-bidchat commented on #24
@hungdev thanks for the response. I've put a temporary fix. I check if the url is www.instagram.com and remove the webview and add it again. This solved the problem.

[2019-01-24 06:02] hungdev commented on #24
yeah, I do the same as you @sujay-bidchat

[2019-01-24 06:05] #24 closed

[2019-02-07 09:45] bharatidudhjiya opened #25 "App redirect user to "redirectUrl""
I am using this library with react native 0.57.3 but it redirect user to "redirectUrl",  in my case it  is redirecting user to "google.com" url which is my redirect url.

please any one can help me to solve this issue.

Thanks!

[2019-02-07 12:51] filipeisho commented on #25
You need to setup your redirect url inside the instagramLogin component :)
[code]

[2019-02-10 08:52] hungdev commented on #25
@bharatidudhjiya please read example.
https://github.com/hungdev/react-native-instagram-login/blob/master/Example/App.js#L51-L58

[2019-02-10 08:52] #25 closed

[2019-02-11 18:36] VolckaertAchiel opened #27 "no response when completed"
i have the code below, like the example. it does not log anything after redirect?

        <View>
            <TouchableOpacity onPress={()=> this.instagramLogin.show()}>
                <Text style={{color: 'black', margin: '20%'}}>Login</Text>
            </TouchableOpacity>
            <InstagramLogin
                ref= {ref => this.instagramLogin= ref}
                responseType="token"

[2019-02-12 02:56] hungdev commented on #27
@VolckaertAchiel
The redirectUrl must be the same with  redirect URIs in tab Security  https://www.instagram.com/developer/clients/
Please make sure that every props value are correct.
And final, please give me a video of bug.

[2019-02-12 07:22] VolckaertAchiel commented on #27
@hungdev the code is correct, just onloginsucces isn't executed

[2019-02-12 07:39] hungdev commented on #27
@VolckaertAchiel
could you give me an example on https://snack.expo.io
I will check for you.

[2019-02-12 08:59] VolckaertAchiel commented on #27
i'm not able to create a snack.

this is the only code in my component, it loads fine, i can login with a registered sandboxuser and it redirect to my url i defined. when it reaches that expect that i should get my token? it logs nothing, is not even executed, the log on close logs something but has no data, which is expected.

i kinda really need the token 😄

View>
            <TouchableOpacity o

[2019-02-12 09:00] VolckaertAchiel commented on #27
i'm not able to create a snack.

this is the only code in my component, it loads fine, i can login with a registered sandboxuser and it redirect to my url i defined. when it reaches that expect that i should get my token? it logs nothing, is not even executed, the log on close logs something but has no data, which is expected.

yes my client id is filled in

i kinda really need the token 😄

View>

[2019-02-12 09:33] hungdev commented on #27
Could you give me a recorded video?

[2019-02-12 09:45] VolckaertAchiel commented on #27
![image](https://user-images.githubusercontent.com/26697855/52626095-c115d280-2eb2-11e9-9bca-e40c3a933999.png)

![ezgif com-optimize](https://user-images.githubusercontent.com/26697855/52626328-3ed9de00-2eb3-11e9-9d40-4bf0cacb4a72.gif)

[2019-02-12 13:32] matan335 opened #28 "Android not working"
on ios I get the data
but for some reason on android it stoped working a few days ago

all i get is a pop up screen of my reirectUrl and no token provided

[2019-02-12 17:15] hungdev commented on #27
@VolckaertAchiel
I know what the reason is. Webview response has been changed. and <WebView/> is going to be removed from the React Native core. So I decided to use react-native-webview as react native team suggests.
I release 1.1.0 version. Please reinstall lib, and follow the instructions in the readme.
Feel free to reply if the issue still exists.
see more:
https://facebook.github.io/react-nati

[2019-02-12 17:20] hungdev commented on #28
I fixed this bug and create a new release version. Please reinstall lib, and follow the instructions in the readme.
Feel free to open if the issue still exists.

[2019-02-12 17:20] #28 closed

[2019-02-13 07:58] #27 closed

[2019-02-14 10:53] jkmf opened #29 "doesn't work with expo any more"
Since last commit Expo compatibility has been broken.
Expo developers can't do: react-native link react-native-webview

[2019-02-14 15:34] hungdev commented on #29
React Native WebView is not currently supported by Expo unless you "eject".
https://github.com/react-native-community/react-native-webview#platforms-supported

[2019-02-14 15:36] hungdev commented on #29
you can install 1.1.0 version and add `www` in redirectUrl ( both redirectUrl props and https://www.instagram.com/developer/clients/

[code]
https://github.com/hungdev/react-native-instagram-login/issues/27#issuecomment-462848799

[2019-02-16 17:13] EddieEJ opened #30 "Obtain session id from cookies"
Is there a way to obtain the session id after authenticating? For example from the cookies?

[2019-02-24 08:42] hungdev commented on #30
sorry to late reply. I haven't tried it, but I think you can find it from cookies when use react native cookies library.

[2019-04-01 04:09] nihp opened #31 "Unable to login via instagram"
I am trying to login my app via Instagram. But it showing the error as
![Screenshot 2019-04-01 at 9 35 03 AM](https://user-images.githubusercontent.com/36992338/55303023-89161f00-5461-11e9-8655-952b1129d277.png)

[2019-04-01 04:50] hungdev commented on #31
@nihp  have you link `react-native link react-native-webview`?

[2019-04-01 04:54] nihp commented on #31
Now I have linked the react-native-webview. Still facing the same issue.  Is it show in libraries after linking it?

[2019-04-01 14:43] hungdev commented on #31
@nihp hi guy, I tried it again and I found everything was okay.

[2019-04-01 16:52] zaakzaku opened #32 "Android can't login"
when i was login after redirect google.com

[2019-04-01 17:02] hungdev commented on #31
here is my record video: https://youtu.be/rKc90_DOIZ8

[2019-04-02 02:18] hungdev commented on #32
@zaakzaku
change your redirectUrl in your code and in the web https://www.instagram.com/developer/clients/

[2019-04-02 03:07] zaakzaku commented on #32
i'm using 1.1.0

[2019-04-02 03:28] hungdev commented on #32
@zaakzaku yeah. please remove node_modules and reinstall last version:
npm install react-native-instagram-login@1.1.1 --save

[2019-04-02 03:29] zaakzaku commented on #32
okay thanks.

[2019-04-02 03:30] hungdev commented on #32
Feel free to let me know if the issue still exists

[2019-04-02 03:38] zaakzaku commented on #32
reinstall last version. it's fixed  @hungdev thanks

[2019-04-02 03:39] #32 closed

[2019-04-02 03:56] nihp commented on #31
Thanks @hungdev

[2019-04-02 04:03] hungdev commented on #31
@nihp You have successfully installed it ?

[2019-04-02 04:12] nihp commented on #31
Not yet I am checking this issue

[2019-04-03 11:24] hungdev commented on #31
@nihp everything fine?

[2019-04-04 06:42] nihp commented on #31
No I am facing the same issue. I didn't found any solution for this

[2019-04-04 06:45] hungdev commented on #31
@nihp are you try with creating a new example?

[2019-04-04 06:54] nihp commented on #31
Yes, I have installed my app newly in separate folder and trying to login

Note: It worked previously (i.e) before one week

[2019-04-04 06:57] hungdev commented on #31
please create new project and setup with last version react native instagram and record the video. You can send your video to my mail if it is a video with a sensitive key. @nihp

[2019-04-04 10:31] nihp commented on #31
I am not tried with a new demo. But I am facing an error as "InvariantViolation: requireNativeComponent: "RNCWKWebView" was not found in the UIManager"

![Screenshot 2019-04-04 at 3 43 30 PM](https://user-images.githubusercontent.com/36992338/55549132-ccd38780-56f2-11e9-8dc7-be26aff6d809.png)

[2019-04-04 10:46] hungdev commented on #31
Remove your project and create and resetup again.

On Thu, Apr 4, 2019 at 5:31 PM nihp <notifications@github.com> wrote:

[2019-04-06 05:38] nihp commented on #31
Fixed the above issue by adding RNCWebview in my Link binaries.

Thanks @hungdev

[2019-04-06 05:38] #31 closed

[2019-04-15 20:49] xfishernet opened #33 "How to get name or avatar url after login?"
How to get name or avatar url after login?

[2019-04-16 04:16] hungdev commented on #33
@xfishernet
after get token, you can use this api: `https://api.instagram.com/v1/users/self/?access_token=ACCESS-TOKEN`

please read here to get more information: https://www.instagram.com/developer/endpoints/users/#get_users_self

[2019-04-16 05:28] xfishernet commented on #33
thanks!

[2019-04-16 07:07] #33 closed

[2019-04-16 07:08] #30 closed

[2019-04-19 04:23] zaakzaku opened #34 "Android can't login webview modal redirect to browser"
Help me

[2019-04-19 04:25] hungdev commented on #34
please read this [issue](https://github.com/hungdev/react-native-instagram-login/issues/32)

[2019-04-19 04:27] hungdev commented on #34
please give me your code and react-native-instagram-login version.

[2019-04-19 04:34] zaakzaku commented on #34
it's last version 1.1.1 can u try it android?
![Capture111](https://user-images.githubusercontent.com/23735741/56405592-84de6400-629f-11e9-8afa-5204def1c628.PNG)

[2019-04-19 04:36] hungdev commented on #34
add your redirectUrl props like this: https://github.com/hungdev/react-native-instagram-login/blob/master/Example/App.js#L54

[2019-04-19 04:45] zaakzaku commented on #34
i just add redirect url but it's not fixed. when i login button click opened web browser
![Capture22](https://user-images.githubusercontent.com/23735741/56405890-0da9cf80-62a1-11e9-95ec-3e7652c8b323.PNG)

[2019-04-19 05:03] hungdev commented on #34
I will try it on android afternoon.

On Fri, Apr 19, 2019 at 11:45 AM Byamba-Ochir.J <notifications@github.com>
wrote:

[2019-04-19 05:07] zaakzaku commented on #34
okay thank u

[2019-04-19 06:15] hungdev commented on #34
@zaakzaku i tried it on android device and everything is oke.
you can see setup video on ios. it like on android.

[2019-04-22 02:40] hungdev commented on #34
@zaakzaku every thing oke?

[2019-04-23 01:50] zaakzaku commented on #34
please check it https://play.google.com/store/apps/details?id=com.zu_club

[2019-04-25 02:20] hungdev commented on #34
@zaakzaku sorry to late reply. If you don't mind, I can talk to you via mail and support you with teamview

[2019-04-25 05:56] zaakzaku commented on #34
okay thank u. i will send you email :)

[2019-06-06 15:02] wibav opened #35 "Error Compile react-native run-android"
when i run-android give this error

package.json
 "dependencies": {
    "axios": "^0.19.0",
    "react": "16.8.3",
    "react-native": "0.59.3",
    "react-native-elements": "^1.1.0",
    "react-native-instagram-login": "^1.1.1",
    "react-native-vector-icons": "^6.0.0",
    "react-navigation": "^2.11.2"
}

[2019-06-15 04:26] jinguohao1991 opened #36 "Webview don't display Instagram Login Page at the second Longin attempt."
Hi, Thank you for your effort with stuff.
I am building iOS app with ReactNative 0.59.8.
The Instagram login component works fine and shows the Login page on webview successfully.
But the problem is here.
I failed to login due to the redirect_url issue, so I closed modal and tried again.
But the web view didn't show the login page, showed only loading spinner image.
In order to log in again, I had

[2019-06-15 04:29] hungdev commented on #36
@jinguohao1991 can you give me a video about this bug? I will fix it soon if the error is determined.

[2019-06-18 16:59] jinguohao1991 opened #37 "I cannot change Instagram Login account after login"
Hi, Thank you for your effort with this package.
It helped me much with my work for instagram login.
But I have found an issue on webview.
The webview in the modal works fine at the first login.
But after login successfully, if I try to use another account to login, webview doesn't show the Instagram Login page.
So I cannot change to another account.
As I checked the code there was a code block to

[2019-06-19 02:25] hungdev commented on #37
@jinguohao1991 To login with another account, you must clear cookies before login another account.
Please read:
https://github.com/hungdev/react-native-instagram-login#logout

[2019-06-19 04:29] hungdev commented on #37
@jinguohao1991 Feel free to let me know if you cant resolve your problem.

[2019-06-20 04:17] jinguohao1991 commented on #37
Thank you for your reply.
I have still the same issue.
I have installed "react-native-cookies": "^3.3.0", and linked to iOS manually.
This is my code for opening Instagram Login modal
=========
const onInstaLoginClick = () => {
      CookieManager.clearAll().then(() => {
        this.setState({ token: null })
      });
      this.instagramLogin.show();
    };
===========
The instagram still logs i

[2019-06-20 09:24] jinguohao1991 commented on #37
I have tried your example with your video.
Here is my recorded video.
https://www.youtube.com/watch?v=6W-RVOUFLqE&feature=youtu.be
Thank you.

[2019-06-20 16:03] IcebergRage commented on #37
Hello, I have the same issue.
Do you have any solution ?

[2019-06-20 22:44] IcebergRage commented on #37
I found :
Add this in Webview
[code]

I will do a PR soon

[2019-06-21 01:09] jinguohao1991 commented on #37
Hi, @IcebergRage. Thank you.
If I test with https://github.com/hungdev/react-native-instagram-login/tree/master/Example, where to put this code?
Inside this package directly or inside my code?
Hope your update.

[2019-06-21 02:48] hungdev commented on #37
@jinguohao1991 @IcebergRage I know the reason. Due to the cookies library is not working and I'm trying to find a way to help you.
read more:
https://github.com/joeferraro/react-native-cookies/issues/78
currently, solution is disable cookies, but in some cases when logging back, we need to keep cookies, and users don't need to log in again.
So i still recommend use clear cookies when logout.
@jing

[2019-06-21 02:59] hungdev commented on #36
it duplicate with issue https://github.com/hungdev/react-native-instagram-login/issues/37

[2019-06-21 02:59] #36 closed

[2019-06-21 03:02] hungdev commented on #35
due to react native webview, please reinstall lib.

[2019-07-03 22:58] bscaspar opened #38 "Random error loading login page "too many HTTP redirects""
Most of the time this works great! However, occasionally I receive the following error when the modal appears:
[code]
I am on version 1.0.8.

This error clears after reloading the app and waiting a bit. Overall not a good experience for our users though.
![IMG_4661](https://user-images.githubusercontent.com/6042704/60629625-4e4abc80-9dab-11e9-9af7-b9b397c7baf1.jpeg)

[2019-07-04 02:45] hungdev commented on #38
@bscaspar please update to latest version. `v1.1.1`.
Let me know if it stills error after the update.

[2019-07-05 17:55] bscaspar commented on #38
I can't update to v1.1.1 since this is an un-ejected expo app. I was able to update to v1.1.0, would that potentially resolve the issue?

[2019-07-07 13:55] hungdev commented on #38
@bscaspar please read [this comment](https://github.com/hungdev/react-native-instagram-login/issues/29)

[2019-07-08 01:23] fukhaos opened #39 "This module is for legacy or new facebook config ?"
This module is for legacy or new facebook config ?

[2019-07-08 02:48] hungdev commented on #39
@fukhaos This module is for legacy. in the next version, I think I will change it to new fb config. currently, the module is still working fine.

[2019-07-08 11:19] fukhaos commented on #39
thanks !

[2019-07-08 11:19] #39 closed

[2019-07-12 08:49] hapSa000 commented on #34
I am also facing same error and  in the video there I nothing about web view I
![Screenshot (137)](https://user-images.githubusercontent.com/46805839/61115407-0107d280-a4b0-11e9-88a4-d4442e903c95.png)
 want to make this for android

[2019-07-12 09:21] hungdev commented on #34
@hapSa000 did you link react-native-webview ?
this problem related webview, you can find the issue at https://github.com/react-native-community/react-native-webview/issues

[2019-07-12 10:15] hapSa000 commented on #34
yes I did link react-native-webview
and I'm using latest react-native version 0.60 which autolink native dependencies

[2019-07-14 15:10] hungdev commented on #34
@hapSa000 remove node_module and reinstall react-native-webview. if it still errors, you can find the issue at https://github.com/react-native-community/react-native-webview/issues

[2019-07-15 18:47] bscaspar commented on #38
Hey @hungdev I saw that comment and I upgraded to v1.1.0. Will this resolve the login issue I am seeing?

[2019-07-16 01:04] hungdev commented on #38
@bscaspar yes, but you must add www in redirectUrl ( both redirectUrl props and https://www.instagram.com/developer/clients/)

[2019-07-25 03:41] bscaspar commented on #38
@hungdev I upgraded and changed both URLs, however some users are still seeing this problem.

[2019-08-05 15:43] bscaspar opened #40 "On load, if a user presses the username or password field too soon, "Forgot Password" is selected instead and navigates to the IG forgot password screen."
This happens in the first second or so that the username field is visible. It results in a poor experience - users don't understand why suddenly they need to reset their password, they often think it's required by Instagram.

[2019-08-13 07:49] salmanbukharihitori commented on #24
Hi I am still having this issue. Users get stuck in endless loop of security code authentication. Can you please help?

[2019-08-13 23:14] jacobogart opened #41 "Scope error when logging in"
Error Received:
```{“error_type”: “OAuthException”, “code”: 400, “error_message”: “Invalid scope field(s): public_content”}```

Solution: Change scope from "public_content" to "basic"

[2019-08-14 04:06] peachlsy commented on #24
Hi,

I'm facing this issue as well.

RN: 0.59.8
 "react-native-instagram-login": "^1.1.1"

Please advice me what to do, thank you very much!

[2019-08-14 05:46] salmanbukharihitori commented on #24
Hi @peachlsy the above solution should work in addition also make sure you do not clear any cookies on webview.

[2019-08-14 08:34] iluvhk3000 commented on #24
I have the same issue too

[2019-08-14 08:35] iluvhk3000 commented on #24
@hungdev Could you please check is this issue happened again? Thanks a lot!

[2019-08-14 15:26] hungdev commented on #41
Sorry, recently im so busy. so i dont have much time to check issues. thanks you so much. @jacobogart

[2019-08-14 15:30] hungdev commented on #40
Sorry, recently im so busy. so i dont have much time to check issues.
so could you give me a record video about this issue? Because i cant reproduce this issue. @bscaspar

[2019-08-18 13:13] zaakzaku commented on #41
Please fix it.

[2019-08-18 13:22] #41 closed

[2019-08-18 13:23] hungdev commented on #41
@zaakzaku  It has been merged, you can install with command:
`npm i -s https://github.com/hungdev/react-native-instagram-login.git`
I am trying to fix other errors before making a new version.

[2019-08-29 17:50] NewBieBR opened #43 "iOS Deprecated API UIWebView"
Hi,

I got this message from Apple

And the issue might come from react-native-webview you're using: https://github.com/react-native-community/react-native-webview/issues/819

There might be a fix using `useWebKit={true}`, it's mentioned in that issue.

[2019-08-30 02:26] hungdev commented on #43
@NewBieBR  thank your mentioned. i will add this props to default props, but also you can add it directly from webview props like this:
[code]

[2019-08-30 13:47] Titozzz commented on #43
react-native-webview maintainer here 👋 , you need to update the webview to 7.0.1+ to fix this. And the useWebkit has been removed since UIWebView doesn't exist anymore :)

[2019-09-05 11:49] nihp opened #44 "Getting error as "requireNativeComponent:RNCWKWebView" was not found in the UI Manager"
I am using react-native-instagram-login in my app. I have updated the **react-native-webview to 7.0.3** after this I can't able to login the app and it shows the below error. Refer the attachment
![Screenshot 2019-09-05 at 5 16 00 PM](https://user-images.githubusercontent.com/36992338/64339304-53bdc080-d001-11e9-8e6a-394c68b762c4.png)

[2019-09-05 19:37] marcojr commented on #44
Same here !

[2019-09-06 02:09] #43 closed

[2019-09-06 03:29] hungdev commented on #44
@nihp and @marcojr
Please linking manually. Hope links can help you.
https://github.com/react-native-community/react-native-webview#common-issues
https://github.com/react-native-community/react-native-webview/issues/235#issuecomment-452382921
https://github.com/react-native-community/react-native-webview/issues/161
Sorry i don't have much time to help you more detail.

[2019-09-08 13:27] ThomasLech opened #45 "How to resolve "RNCWKWebView" was not found in the UI Manager"
1. Run “npm install --save react-native-instagram-login”
    2. Delete the “react-native-webview” folder from node_modules.
    3. Run “npm install --save react-native-webview”
    4. Remove “/node_modules/react-native-webview” folder and react-native-webview dependency from package.json (all inside react-native-instagram-login folder).
    5. Type in “react-native link react-native-webview”
    6

[2019-09-08 13:27] #45 closed

[2019-09-08 13:28] ThomasLech commented on #44
I resolved the issue, and provided a step-by-step solution: https://github.com/hungdev/react-native-instagram-login/issues/45

[2019-09-08 15:06] hungdev commented on #44
@nihp @marcojr @ThomasLech new version published. It fixed this issue and updated example for react-native version > 0.6.
thanks guys. Happy weekend.
Let me know if the error still exists.

[2019-09-08 15:06] #44 closed

[2019-09-08 15:11] #35 closed

[2019-09-08 15:12] #34 closed

[2019-09-10 19:18] markhomoki opened #48 "Connection Issue"
Connecting to Instagram in most cases works, however randomly the app cannot connect to the Instagram and instead shows the Instagram logo without any fields to enter. Did any have this issue before?

Using the latest version of **react-native-webview** and **react-native-instagram-login**.
`onLoginFailure` doesn't get called.

![IMG_1801](https://user-images.githubusercontent.com/8550329/64643192

[2019-09-11 08:05] hungdev commented on #48
i didnt see issue like this before. So i think problem is bad network.

[2019-09-11 08:30] markhomoki commented on #48
Thanks for your quick reply. The issue has been fixed. I think the problem could be the old vs new versions of webview and react native. Now, as soon as upgraded everything to latest, including react-native it works again.

[2019-09-11 09:23] hungdev commented on #29
Note: Expo support for React Native WebView started with Expo SDK v33.0.0.
https://github.com/react-native-community/react-native-webview#platforms-supported

[2019-09-11 09:23] #29 closed

[2019-09-11 10:04] nihp opened #49 "Getting "ErrorType: OAuthException" while trying to login using react-native-instagram-login"
I am getting the below attached error while trying to login the app using react-native-instagram-login. Refer the attached image
`
{"errorType":  "OAuthException", "code": "400", errorMessage: "InvalidScopefields: public_content, follower_list"}`
![Screenshot 2019-09-11 at 3 32 38 PM](https://user-images.githubusercontent.com/36992338/64688168-688ad000-d4a9-11e9-9c18-886acd5a009f.png)

[2019-09-11 10:23] hungdev commented on #49
@nihp please read [example](https://github.com/hungdev/react-native-instagram-login#usage)
[code]

[2019-09-11 10:37] nihp commented on #49
Thanks @hungdev . It worked for me

[2019-09-11 10:37] #49 closed

[2019-09-18 08:32] jinguohao1991 commented on #37
This works perfectly for me.
<InstagramLogin
          ref={ref => this.instagramRef = ref}
          clientId='************'
          redirectUrl='************'
          scopes={['basic']}
          onLoginSuccess={(token) => this.setState({ token })}
          onLoginFailure={(data) => this.setState({ failure: data })}
          cacheEnabled={false}
          useWebKit={true}
          sharedC

[2019-09-18 08:32] #37 closed

[2019-09-18 08:36] jinguohao1991 opened #50 "Login instagram using Native Instagram app."
Hi, all.
If an Instagram app was installed on the device, is there a way to open the native Instagram app and get token after login instead of using WebView page?

[2019-10-15 09:36] gianpaj commented on #50
I don't think there's a way to do it. Tinder, for example, opens a WebView as well (tested on iOS)

[2019-11-28 09:27] ventr1x opened #53 "V2.0.0 against Facebook TOS"
The new version is using the basic display api for authentication, which is against Facebooks rules.

"If your app uses API data to authenticate users, it will be rejected during App Review."
No production app will be able to use this like that - without taking the risk to get banned at any time.

Did anyone actually test this? Is this plugin basically useless these days?
You have to go into revie

[2019-11-28 09:58] AlbertoIHP commented on #53
Can you give me the link of that rule?? I was looking for it but i didnt find it. However i use It! to get users media and get some pictures en video from an app mobile, corious thing is that Apple in my app review ask me for this process... 🤦‍♂️

[2019-11-28 10:53] ventr1x commented on #53
It's about using the graph api as a login/auth in your app. It says so directly on Products -> Instagram -> Basic Display in your Fb App.

<img width="1235" alt="Screenshot 2019-11-28 at 11 53 06" src="https://user-images.githubusercontent.com/7974355/69800505-ac9e8e80-11d5-11ea-874a-8719bc22b46a.png">

Old implementations probably work without issue as they don't have to go through the new manual

[2019-11-28 12:35] AlbertoIHP commented on #53
Great thanks ! Is a good information, this plugin still being util to display an interface to consume the Instagram info, but as you said, to authenticate users throw It ? Nope, we should use Facebook login instead. If Expo is the case, we Can use the Facebook API embeded in Expo API, to do so....

[2019-11-29 10:55] fniewijk opened #54 "Exposing secret on the client side is bad practice"
I was looking at using your package, but when I read your code and compare it with the manual it says that you should not share the app_secret client side. It suggests you should use the client side implicit authentication. [link](https://www.instagram.com/developer/authentication/)

Are you aware of this? This looks like an issue that is resolvable. The implicit authentication does not need the s

[2019-11-29 13:06] knjl34 opened #55 "Invalid scope response"
hi,
when i have submit id password then json response with 'invalid scope " error!!

below code snippet
ver 2.0.0

<InstagramLogin
                    ref={ref => (this.instagramLogin = ref)}
                    appId={config.instaAppId}
                    appSecret={config.instaappSecret}
                    redirectUrl={config.instaRedirectURL}
                    scopes={['user_profile', 'user

[2019-12-03 08:15] nihp opened #56 "Clarification: AppId and Client Id is same or different"
I saw AppId in the latest update from react-native-intagram-login. Already I am using clientId.

Kindly clarify

[2019-12-05 07:57] nihp opened #57 "Getting "ErrorType: OAuthException" while trying to login using react-native-instagram-login"
I am getting "ErrorType: OAuthException" while trying to login using react-native-instagram-login
![Screenshot 2019-12-05 at 10 34 21 AM](https://user-images.githubusercontent.com/36992338/70215190-f140a180-1762-11ea-9694-32de2479944f.png)

[2019-12-06 07:51] nihp commented on #53
Can anyone clarify my question.

Now I am a sandbox user and I am planing to move to live. Now I am accessing images from instagram. Does it make any issues while I am submitting my app to AppStore.

[2019-12-06 10:57] nihp commented on #55
@knjl34
Can you confirm this? Are you using Instagram graph API or Instagram Basic Display API?

From where you get appID and secretID.

What is the redirect url which needs to give a valid url or not

[2019-12-11 05:10] tayfunyugruk commented on #53
@nihp if i am not wrong you have to submit to facebook to go live for your instagram integration. If you go live without app review approval possibly normal user auths will not work. Basically facebook is expecting us to tell for what purpose/implementation we want to use instagram integration so that if you are not abusing anything (like using instagram for login purpose) then you will be approve

[2019-12-11 11:17] nihp commented on #57
@hungdev Could you please look into this?

[2019-12-11 12:35] hungdev commented on #57
@nihp please fill correct Instagram App ID and Instagram App Secret as my image guide.

[2019-12-12 04:54] nihp commented on #57
Shall I need to add scope as basic or  scopes={['user_profile', 'user_media']}

I gave the AppId and App secret as you mentioned there. Still facing the same.

My Code

`  <InstagramLogin ref={ref => (this.instagramLogin = ref)} scopes={['user_media']}  redirectUrl='my url' appId='appid' appSecret = 'appSecret' onLoginSuccess={(token, result) => this.socialLogin(token, 2)} onLoginFailure={(data) =

[2019-12-12 08:38] nihp commented on #57
Now I am getting
If I change to basic I am getting an Oops, an error occurred

 Also while change the scopes={['user_profile', 'user_media']} now I am getting an error message "Insufficient developer role"

![Screenshot 2019-12-12 at 2 08 00 PM](https://user-images.githubusercontent.com/36992338/70696005-d46b1780-1ce8-11ea-9206-5e7ffcfccd69.png)

[2019-12-12 08:44] nihp commented on #57
Now I am getting
If I change to basic I am getting an Oops, an error occurred

 Also while change the scopes={['user_profile', 'user_media']} now I am getting an error message "Insufficient developer role"

![Screenshot 2019-12-12 at 2 08 00 PM](https://user-images.githubusercontent.com/36992338/70696005-d46b1780-1ce8-11ea-9206-5e7ffcfccd69.png)

[2019-12-12 10:10] hungdev commented on #57
Go to Roles > Instagram Users and add your Instagram account. Then go to https://www.instagram.com/accounts/manage_access/ to accept the Tester Invite from your app.

[2019-12-12 11:53] nihp commented on #57
In where the roles are available. In facebook developer account or
instagram developer account

On Thu, Dec 12, 2019 at 3:40 PM Hung Vu <notifications@github.com> wrote:

[2019-12-12 12:28] nihp commented on #57
Thanks the above error gone

[2019-12-13 06:50] nihp commented on #57
Can you confirm that for how long the acces_token will not expired.

Before this the access token not expired for long time. But now I am getting different access token for each time.

Also, I am getting userId now.

Shall I need to change in server side.

[2019-12-17 12:49] nihp opened #58 "How can I generate long-live tokens using react-native-instagram-login"
@hungdev Can you tell any solution how can I generate long live tokens using react-native-instagram-login

[2019-12-27 05:20] knjl34 commented on #55
Can you confirm this? Are you using Instagram graph API or Instagram Basic Display API?  ==> **Basic display API**

From where you get appID and secretID. => **Facebook developer console as they have merged both facebook login as well as instagram login just need to verify business profile.**

[2019-12-30 06:11] nihp commented on #55
Thanks for your reply.

I have another clarification.

If we use Instagram graph API, we need to send our app to App review if we moving to live mode.

Also for  Basic display API while moving to live did we need to submit the app for app review?

[2019-12-30 07:59] CVRamana opened #60 "after cd ios && pod install xcode is reporting this error"
Showing Recent Errors Only
Error reading '/Users/appinventiv/Documents/RN_Tasks01Nov-master/InstagramLogin2/node_modules/react-native/ReactCommon/jsinspector/InspectorInterfaces.cpp'

[2019-12-30 09:11] #60 closed

[2019-12-30 09:44] CVRamana commented on #57
still getting the same error

[2020-01-16 10:30] #58 closed

[2020-01-16 10:34] nihp opened #63 "Clarification: Whether App review is mandatory for instagram login who have migrated to V2"
@hungdev
I am using react-native instagram login to login my app. Now I am planned to push my app to Appstore.

But I found an App Review here for instagram. Is it mandatory to go for App Review here.

Note: I am using v2

Can you elaborate this?

[2020-01-22 07:44] khuznain commented on #49
You will need to add the Instagram test user. After that, you will be able to login and  you will need to login from the account!

[2020-01-23 18:57] rjravijoshi111 opened #64 "How to get user profile(name, profile picture)"
I m using the latest version but I m getting a success response  with this data

{"access_token":"IGQVJXVE15WEpxY2ZAlSkldfsfcxqV3M3NWVhVmZAMb2NrT29WcWZAIU3FWWjdoUUNaU0tRTjsdasdhYZATVHVmxQOWlBMnVJejRkbGss9iZAmxDTHN3aUp4SEdOTmZAYa0pBT3RTb0ZAPenpOcGo2asdUXVxdDczasdaQUxlUTQ3QkhFZA1ktTkNFN2RfNWJv","user_id":178xxxxxxxxxx}

 but I need the user's name and profile picture, so could you please help me how

[2020-01-23 21:04] slauzinho commented on #64
After you get the token you just need to use Instagram Graphapi https://developers.facebook.com/docs/instagram-api/

[2020-01-24 04:55] rjravijoshi111 commented on #64
@slauzinho I have use Instagram graph api but in there I have getting only username.

But I need users full name, profile image.

[2020-02-06 07:32] knjl34 commented on #55
yes app review is mandatory for using Instagram login as that one is also same process which are already available in developer.Instagram but that one is stopped so in this scenario in this case also!!

so submit for app review!
let me know if i am wrong or any other feedback/query.

[2020-02-06 13:41] nihp commented on #55
Did you submit or pushed your app to appstore?

[2020-02-07 03:20] gitstud commented on #54
The docs here show where to put the app secret but not where to get it, you can serve the app secret from your server and then connect it with however you manage state

[2020-02-07 05:32] knjl34 commented on #55
not yet already submit for review!

but yes i have already done that in native with previous process of Instagram which is from developer.instagram right now that one deprecated so i have done with facebook.developer.com

what about you status regarding login ?

[2020-02-07 05:42] nihp commented on #55
I not pushed for App review. Now investigating how it will be done correctly.

Okay.

Note all the steps while processing from a step to another step.

[2020-02-07 06:15] knjl34 commented on #55
hey,
you need to add apk/ipa and video as well as deauth url then the submission will complete.

[2020-02-07 08:41] nihp commented on #55
Okay

[2020-02-07 08:42] nihp commented on #56
The latest version use AppID

[2020-02-07 08:42] #56 closed

[2020-02-07 08:42] nihp commented on #63
It is mandatory one in V2

[2020-02-07 08:43] #63 closed

[2020-02-07 14:48] #55 closed

[2020-02-07 14:48] knjl34 commented on #55
AS of now closed

[2020-02-13 09:22] Dhanraj-bidchat commented on #64
**Can I make this API call with this node module:**
 GET \
 "https://graph.facebook.com/v3.2/17841405309211844?fields=business_discovery.username(bluebottle){followers_count,media_count,media{comments_count,like_count}}&access_token={access-token}"

[2020-03-21 17:45] IcebergRage commented on #25
@bharatidudhrejiya Did you find a solution ?
On iOS it works but on Android, the redirection is made on my redirect_uri (https://google.com)
I don't understand why...

[2020-03-21 18:29] IcebergRage commented on #25
Ok, got it.
It's look like on android, google.com it's automatically turn into www.google.com and doesn't match with `this.props.redirectUrl` !
I add into instagram.js, line 52 : `if (url && url.startsWith(this.props.redirectUrl) || url && url.startsWith('https://www.google.com/')) {`

[2020-03-25 15:09] codeundercoverdev commented on #54
@gitstud @fniewijk  doesn't that still expose the app secret to the user when you fetch it from your server?

[2020-04-29 10:48] SrinivasanKannan18 commented on #64
Yeah I have used that API but it shown 'Invalid OAuth access token.' error and error code:190

[2020-04-30 19:03] victor871129 commented on #54
Yes, that's why you need to check the integrity of your app with a Tampering Detection solution and only store the secret on the phone RAM

[2020-05-17 23:53] gwendall commented on #57
Go to live mode for your facebook app

[2020-05-18 15:16] Thomsath opened #69 "Change language of the webview"
Hi,

I'm asking myself if we can change the language of the instagram webview (like put it in french). I'm trying to add ?hl=fr in the link, but it doesn't work. That could be cool to manage from the component. Any idea ? Is it possible ?

Thanks

[2020-05-23 13:47] goxr3plus commented on #69
I agree :) , the development of this library seems dead though.

[2020-05-30 14:41] ChrisEelmaa commented on #54
yeah, this is a bit design flaw in this lib, there should never be appSecret exposed anywhere on the JS side, memory or no memory.

quick look at the code indicates that it handles both implicit authentication as well. Just don't fill in app_secret, and ensure ```responseType="access_token"```

[2020-05-31 12:33] goxr3plus opened #70 "Is this repo dead?"
No activity since November 2019 ?

Do you know any alternatives besides this library ?

Thank you :)

[2020-05-31 12:34] goxr3plus commented on #70
@hungdev :)

[2020-06-04 15:24] hungdev commented on #70
Thank you for your concern, I'm pretty busy, and I've updated the new version.

[2020-06-04 15:24] #70 closed

[2020-06-04 15:26] goxr3plus commented on #70
Thank you so much this library is very vital for my application ❤️

On Thu, Jun 4, 2020, 18:24 Hung Vu <notifications@github.com> wrote:

[2020-06-04 15:26] hungdev commented on #50
I don't know how, but if it is open from the Instagram app itself, I think Facebook will have to create a SDK.

[2020-06-04 15:27] #50 closed

[2020-06-04 15:37] hungdev commented on #57
please create new issue if you get the bug. This topic should be closed. Feel free to open. :)

[2020-06-04 15:37] #57 closed

[2020-06-04 15:39] hungdev commented on #38
I updated to new version. This topic should be closed. Feel free to open. :)

[2020-06-04 15:39] #38 closed

[2020-06-08 08:01] hungdev commented on #54
I added an option for expose secret, [read doc here](https://github.com/hungdev/react-native-instagram-login#server-side-explicit-discuss-here)

[2020-06-09 18:58] belgamo opened #71 "Question about instagram auth limitations"
I was reading the guides of facebook API and I came across this warning. In development it works, but will it work on production?

![image](https://user-images.githubusercontent.com/19699724/84188264-b731be80-aa69-11ea-96ba-7abff183e3f6.png)

[2020-06-09 19:09] #71 closed

[2020-06-15 07:36] IronTony opened #72 "Cannot login with the new API"
Hi and thank you for the package.
I have upgraded to the laster one and started to use the new IG Login API, but I have problem in the process.
I went to the `developer.facebook.com`, `Instagram section -> Basic Display`, filled in all the info in page, added a test user and accepted the invitation, copied/pasted the `ID app Instagram` and `Secret` in the part of the code of your package, but when

[2020-06-15 08:15] hungdev commented on #72
i think you are wrong some fields. Please check it and correct it. If it still gets error. I will create video guide for you. :)

[2020-06-16 07:11] yasirwahid commented on #72
@hungdev adding tester is important? i have performed every step but my onLoginFailure function is running without errors . instead of onLoginSuccess

[2020-06-18 08:50] hungdev commented on #72
@yasirwahid yup, adding tester is important.

[2020-06-23 05:48] kiritm-nimblechapps opened #73 "Invalid Scope error when login ?"
HI,

I have do the below code for instagram login, but there is invalid scope : [] issue, Can you help me what's reason ?

[code]

![Screenshot 2020-06-23 at 11 16 13 AM](https://user-images.githubusercontent.com/17870723/85365583-47c8ce00-b543-11ea-83f1-0a2c322c8b41.png)

Please help me.

[2020-06-23 06:13] IronTony commented on #72
@hungdev Unfortunately I retried and checked the config but with no luck. Always the same problem

[2020-06-25 04:39] hungdev commented on #73
try adding scope in https://developers.facebook.com/
like this:
![image](https://user-images.githubusercontent.com/12009276/85654358-63191200-b6d8-11ea-892b-18c829a8eafd.png)

[2020-06-29 05:37] IronTony commented on #72
Everything works. Dunno what happened

[2020-06-29 05:37] #72 closed

[2020-07-13 05:09] #54 closed

[2020-07-13 05:11] hungdev commented on #73
if you still get the error, feel free to open.

[2020-07-13 05:11] #73 closed

[2020-07-19 10:36] oleg90990 opened #75 "How post picture to profile?"
I created react native app and get access_token useing react-native-instagram-login.

`
{"access_token": "RWROQUhN...", "user_id": 17841.....}
`

How can I post a picture in my profile using access_token?

example code

`<InstagramLogin
                ref={(ref: any) => (setInstagramLogin(ref))}
                appId='71466........'
                appSecret='e7ef1c0......'
                redire

[2020-07-30 05:32] sagark1510 commented on #53
My app just got rejected because of this use case. I talked with support and they said we can not user "login with instagram" for authenticating user using instagram basic display API.

Any idea how can I bypass this issue or workaround?

[2020-07-30 13:40] nihp commented on #53
@sagark1510 So for authenticating shall we need to use Instagram graph API?

[2020-07-30 14:34] sagark1510 commented on #53
@nihp  from the support team response what I understood is that you can not use instagram for authenticating user in any case. After first authentication with any other method you can use instagram login for access of media or profile.

And if your FB app is no approved you definitely need to go under FB app review.

[2020-09-21 06:01] patelronakp opened #76 "Instagram Token expired soon how to generate new token without credentials"
I have implemented this package and its working fine but had facing one issue like i have only token which is expired after few minutes of inactivity with instagram. So in that case how could i get new token without again asking for the credentials. Do we have something like refresh token from the API so i can get new token based on that.

Please suggest how to takkle this situation  or any other

[2020-09-29 07:10] aftabaminzoobiapps opened #77 "invalid redirect url"
i give an invalid redirect url.  how can i give redirect url so it will work.

[2020-10-14 15:52] ashmaster commented on #77
Did you figure it out ? I am also getting this problem

[2020-10-15 08:44] ashmaster opened #78 "Does not return token if the redirect url doesn't have "www""
Inside the webview navigation state change the url is checked using startWith() method but it returns false if the redirect url doesn't contain "www"

[2020-10-18 13:03] tgreco commented on #54
@hungdev is it possible to update the PropType appSecret to not be required so we don't see the error in the console?
Seems like doing it server side is best practice so I wouldn't expect to see an error in the console for going that route.

Appreciate the library!

[2020-10-18 13:39] tgreco opened #79 "Documentation has incorrect params"
The documentation to convert the code to an access_token has it listed as app_id and app_secret.
It's actually client_id and client_secret.

![image](https://user-images.githubusercontent.com/27317898/96369049-52742800-111d-11eb-9887-77e3ba804f64.png)

[2020-10-22 01:53] hungdev commented on #79
I know that, but It seems to be able to use app_id and app_secret

[2020-10-22 02:03] hungdev commented on #78
@ashmaster thank for your reporting, now we must enter the correct redirectUrl, i will fix it in next version :)

[2020-10-23 09:52] Rramandeep commented on #78
in webview after authorize request page is navigating to redirect url but not returning any token.

[2020-10-23 09:56] ashmaster commented on #78
Did you try giving www for the redirect url

[2020-10-23 09:58] Rramandeep commented on #78
but on fb dev console i cant add www as redirect url, both url should be same.

[2020-10-23 09:58] Rramandeep commented on #78
but on fb dev console i cant add www as redirect url, both url should be same.

[2020-10-23 10:00] Rramandeep commented on #78
@ashmaster how to solve this?

[2020-10-29 20:19] tgreco commented on #71
What was the answer to your question @belgamo?

[2020-10-30 15:04] belgamo commented on #71
Yeah, I was right. The Facebook politics doesn't allow the authentication flow via Instagram and you should use the Facebook auth tool instead.

[2020-11-02 05:14] tuladharjaa opened #80 "onLoginFailure being triggered every time"
The login was working fine but after adding another Instagram tester user the "onLoginFailure" keeps triggering instead of "onLoginSuccess".

[2020-11-02 10:54] Tymofiev commented on #80
I get this as well, it also gives a code in error response object, insead of token and HTML page is logged out into console.

[2020-11-02 14:48] Dhanraj-bidchat commented on #80
i am also facing that issue.
Instagram Login was working yesterday also.
Now its throwing some 403 forbidden issue for android only

[2020-11-02 17:39] rafalzawadzki commented on #80
Also facing the problem, Android only

[2020-11-02 19:33] Nico-Guyon commented on #80
I have also the same problem, both on real android device and ios device.
Somehow the login is working correctly on ios simulator ...
Which is rather strange, the code executed being exactly the same.

The first code is correctly retrieve but it's the request to https://api.instagram.com/oauth/access_token which gets a 403 response (but not on ios simulator)

[2020-11-02 21:22] Nico-Guyon commented on #80
Found the issue but this is rather unexplainable ...

Instagram changed the fields app_id and app_secret used with access_token to client_id and client_secret.
https://developers.facebook.com/docs/instagram-basic-display-api/reference/oauth-access-token

So in the file instagram.js from your react-native-instagram-login replace the following code

`form.append('app_id', appId);
form.append('app_se

[2020-11-04 09:43] Rramandeep commented on #80
athorisation on instagram is returning code key instead of acess token key, as mentioned above you can make changes in libraray's main file accordingly.

[2020-11-04 10:01] Dhanraj-bidchat commented on #80
i forked and fixed the issue. Here is my package:
   "react-native-instagram-login": "git+https://github.com/bidchatindia/react-native-instagram-login.git#v2"

[2020-11-04 10:06] Rramandeep commented on #80
why not to copy lib code locally and change untill lib not updated.

[2020-11-04 10:08] Dhanraj-bidchat commented on #80
@Rramandeep Our app is already live on store.
You will have to give new update to playstore for that anyways.
i made codepush to my users and done!

[2020-11-04 10:12] Rramandeep commented on #80
@Dhanraj-bidchat  no offence bro, but my app is under developement that's why.

[2020-11-04 10:16] Dhanraj-bidchat commented on #80
@Rramandeep thats fine bro.
Nobody is forced to use my package.
Its for beginners who may find it difficult to do so.

[2020-11-04 16:16] hungdev commented on #78
@ashmaster @Rramandeep hi guys, now im fixing this bug, but I tried with redirect url without www, it can still return token.

[2020-11-04 16:22] hungdev commented on #77
you have to fill correct redirect url like fb dev console in this field: `Valid OAuth Redirect URIs`  like this
![image](https://user-images.githubusercontent.com/12009276/98137518-a8561780-1ef4-11eb-843d-3cd6f2d03502.png)

[2020-11-04 16:42] hungdev commented on #79
I updated docs, thank you so much. I love your report.

[2020-11-04 16:42] #79 closed

[2020-11-04 16:44] hungdev commented on #80
I updated the library, so you can remove the old version and install the new version. Feel free to comment here. Love guys.

[2020-11-04 16:54] hungdev commented on #76
Sorry for late reply, I so busy and I don't have much time to investigate this problem.
according to the docs, Authorization Codes can be exchanged for short-lived Instagram User Access Tokens. And i exchanged it for a long token by step 2, exchange code to token.
You can see:
https://developers.facebook.com/docs/instagram-basic-display-api/reference/oauth-access-token
https://developers.facebook.

[2020-11-04 16:56] hungdev commented on #77
Feel free to open if you still get this problem.

[2020-11-04 16:56] #77 closed

[2020-11-05 05:38] kiritm-nimblechapps commented on #80
You also change the appId to client_id

    let ig_uri = `https://api.instagram.com/oauth/authorize/?client_id=${appId}&redirect_uri=${redirectUrl}&response_type=${responseType}&scope=${scopes.join(',')}`;

[2020-11-05 08:44] hungdev commented on #80
@kiritm-nimblechapps I forgot it. Thank u. i updated.

[2020-11-10 05:55] tuladharjaa commented on #80
Getting this on the "onLoginFailure"

Object { _: "" }

[2020-11-10 05:55] tuladharjaa commented on #80
Getting this on the "onLoginFailure"

Object { _: "" }

[2020-11-10 06:18] hungdev commented on #80
@tuladharjaa can you give me steps to get onLoginFailure?
or send me a video about this

[2020-11-10 06:34] tuladharjaa commented on #80
The screen capture is on the following link:
https://drive.google.com/file/d/17zwnpqwRmwP11FqCm6DdBk9p-8sqA_5a/view?usp=sharing

The code I have used:
<Instagram
          ref={instagram => {
            this.instagramLogin = instagram;
          }}
          appId={config.igAppId}
          appSecret={config.igAppSecret}
          redirectUrl={config.igRedirectUrl}
          scopes={['user_profil

[2020-11-10 06:56] Nico-Guyon commented on #80
Tried to see if I had a login problem again on my app but it's working on iOS both device and simulator for me right now.

@tuladharjaa can you step into the library with the debugger and see what are the result of the instagram requests ?
Does anyone else also have a login problem again ?

[2020-11-10 07:03] tuladharjaa commented on #80
The returned URL from WebView does not contain the codes. It just returns the redirectURL

[2020-11-10 09:48] Dhanraj-bidchat commented on #80
@tuladharjaa you tried android login with same user that you loged in on iOS??
If your app is not live, always add new user as test user if not done

[2020-11-10 09:50] tuladharjaa commented on #80
I have added the account as tester and was working previously on Android. I have not tried it on iOS.

[2020-11-10 09:52] Dhanraj-bidchat commented on #80
@tuladharjaa can you try one common test account on both and let us know please?

[2020-11-10 10:05] tuladharjaa commented on #80
On iOS it is working fine.

[2020-11-10 10:11] Nico-Guyon commented on #80
Just tried with an android emulator and it's working fine on my end.
I'll test later with a real android device and let you know if I can also reproduce the login pb.

[2020-11-11 12:06] aftabaminzoobiapps commented on #77
yes, you have to give. www.googel.com/

[2020-11-12 14:29] hungdev commented on #80
I just checked it again, it still works normally. I don't know the exact error.

[2020-11-12 19:53] tuladharjaa commented on #80
I installed the version 2.0.2 and then made changes on the Instagram.js file and it is working fine.

[2020-11-13 19:16] denisprado commented on #80
Hey guys! Thanks for your efforts.. but, I'm receiving on onLoginFailure an object with the code. Anyone can help me?

[2020-11-16 03:45] hungdev commented on #80
@denisprado show me your error, your code and your current version you are using

[2020-11-16 10:29] denisprado commented on #80
@hungdev HI. My component is like that:

`<InstagramLogin
                ref={ref => (instagramLogin = ref)}
                appId={igProd.appId}
                responseType="code"
                appSecret={igProd.appSecret}
                scopes={['user_profile', 'user_media']}
                redirectUrl={igProd.redirectUrl}
                onLoginSuccess={setIgToken}
                onLogin

[2020-11-16 16:56] hungdev commented on #80
@denisprado show me error from onLoginFailure func

[2020-12-22 08:08] fk27122019 opened #82 "Hi"

[2020-12-26 14:05] TeamDlxx opened #83 "after logging in it redirect the user to the redirect url in android that is set to google (ios is working fine)"
<InstagramLogin
          ref={ref => (this.instagramLogin = ref)}
          appId='*******'
          appSecret='********************'
          redirectUrl='https://google.com/'
          scopes={['user_profile', 'user_media']}
          onLoginSuccess={this.setIgToken}
          onLoginFailure={(data) => console.log(data)}
        />

this is my code that i used for instagram login, but i  am f

[2021-01-08 04:01] hungdev commented on #83
can you give me the video about this?

[2021-02-10 09:17] alapanerao commented on #73
I am getting this same error when i try login with Facebook.

[2021-03-04 10:23] KeyurVaghani opened #85 "WebView error: Invalid plateform app"
In android, Webview is showing error after login into instagram. ![20210304_155306.jpg](https://user-images.githubusercontent.com/33790237/109949750-bdf01800-7d01-11eb-98af-929e8dcbf198.jpg)

[2021-04-09 09:36] Lg0gs commented on #83
@hungdev
Same issue here, it works on iOS with no problem.

[2021-04-09 09:51] Lg0gs commented on #83
@TeamDlxx @hungdev
I figured out how to solve this issue.
`instagram.js` file, line: 51 `if (url && url.startsWith(this.props.redirectUrl)) {` this is always false because the URL starts with `https://www.google.com` and my redirectUrl is `https://google.com`. You need to add `www` everywhere

[2021-04-22 11:39] Muhammad-GH opened #86 "react-native-instagram-login page return a HTML page on failure"
i have followed the steps as mentioned in  [https://developers.facebook.com/docs/instagram-basic-display-api/getting-started](https://developers.facebook.com/docs/instagram-basic-display-api/getting-started) article but when i try to login from my react native app it returns a html page which says not found. I have tried searching for it alot but couldn't find any solution.
When i hit the api from

[2021-04-27 14:49] geniecoder commented on #85
@KeyurVaghani did you found any solution?

[2021-06-05 14:57] jaySoni9292 opened #90 "Invalid scope [ ] error"
Getting issue {"error_type":"OAuthException","code":"400,"error_message":"Invalid scope :[ ]"}

[2021-06-08 09:42] toonTheta commented on #90
I got the same error...

[2021-06-12 05:27] hungdev commented on #85
I tried it again, it works fine

[2021-06-12 05:28] hungdev commented on #90
what is your scope? I tried it again, it works fine.

[2021-06-12 06:23] toonTheta commented on #90
I resolved this by activating the App testing the Instagram
https://www.instagram.com/accounts/manage_access/

[2021-06-12 07:10] hungdev commented on #90
i created a video for new guys
https://www.youtube.com/watch?v=Xw-mCiyUMgE

[2021-06-12 07:10] #90 closed

[2021-06-12 07:11] hungdev commented on #85
i created a video for new guys
https://www.youtube.com/watch?v=Xw-mCiyUMgE
feel free to open if it still gets errors

[2021-06-12 07:11] #85 closed

[2021-06-23 17:02] AmirDoreh commented on #69
[pr for this issue has been created](https://github.com/hungdev/react-native-instagram-login/pull/93)

@hungdev

[2021-06-24 08:58] AmirDoreh commented on #75
you can use some sharing library for your purpose
i recommend [react-native-share](https://github.com/react-native-share/react-native-share).
**keep in mind you are not allowed to post to feed or story directly without instagram application !**

[2021-07-08 07:47] souradeepmajumdar05 opened #95 "react-native-instagram-login throwing Invariant Violation"
I have been trying to integrate instagram login in my app using react-native-instagram-login its currently throwing error, i have done the below changes to make it work also tried to follow a specific solution in link but didn't seem to work ,any help would be greatly appreciated

 ERROR  Invariant Violation: View config getter callback for component `RCTModalHostView` must be a function (received

[2021-07-10 18:46] souradeepmajumdar05 commented on #95
Solution : https://stackoverflow.com/questions/68296055/react-native-instagram-login-throwing-invariant-violation

I had a 2 part issue.
1) multiple react webview is a issue so remove the one inside Instagram log in follow stackoverflow.com/a/67917642/8704042 2) faced connection issue as my emulator couldn't access internet. in my case it turned out to be my dev environment(windows OS) was corrupt

[2021-07-10 23:01] AmirDoreh commented on #95
if you use the latest version you should not face this problem @souradeepmajumdar05

[2021-07-11 12:13] souradeepmajumdar05 commented on #95
@AmirDoreh can you share your package.json and npm and node version

[2021-07-17 12:28] invyctus92 opened #96 "Opens instagram app"
Hi, I'm having several problems on iOS, when I login, in my case I use the Facebook account to enter instagram, it opens the instagram application on the iPhone, while on simulator everything works correctly. Can anyone help me ?

[2021-07-31 09:03] sshhsky commented on #83
Can you teach me how ?

[2021-08-01 14:16] #69 closed

[2021-09-10 07:38] rafalzawadzki opened #99 "Deprecating Facebook Login support on Android WebViews"
As [this document](https://developers.facebook.com/docs/facebook-login/android/deprecating-webviews) states,

Does this mean that Instagram login using this library will be affected?

[2021-09-10 09:12] hungdev commented on #99
@rafalzawadzki no, Instagram login doesnt use webview from react native. It used WebView from react-native-webview

[2021-09-10 10:18] rafalzawadzki commented on #99
@hungdev if I understand correctly, it does not matter where the WebView comes from - all [_embedded browsers_ are supposed to be blocked](https://developers.facebook.com/blog/post/2021/06/28/deprecating-support-fb-login-authentication-android-embedded-browsers/). And [`react-native-webview` also uses WebView internally](https://github.com/react-native-webview/react-native-webview/blob/master/andr

[2021-09-10 11:00] hungdev commented on #99
@rafalzawadzki  sorry, i misunderstood you. I thought where the problem came from webview of rn or react-native-webview.
And about the library will be affected?  I'm not sure if it will affected or not.
The first one: Fb login doesnt support on android webview because they already has sdk fb login, and instagram doesnt. So i think we can still use the login api via webview, and fb still supports t

[2021-10-03 12:08] buraktt commented on #80
On v2.0.5 I'm having the same issue. It looks like a problem with the axios post call.
It's not adding the correct headers to the request, hence instagram is returning an exception.
(not sure why. never used `axios` before)

[code]

using `fetch` instead of `axios` fixed the issue for me:
https://github.com/hungdev/react-native-instagram-login/blob/master/Instagram.js#L71

[code]

[2021-10-16 03:10] mohamedanwer123 commented on #99
facebook prevent login from embedded browsers and we can't login instagram by facebook button

[2021-10-30 10:18] AdeelMughal commented on #64
Any update on this ? I am still looking for solution. I am unable to get user's profile picture, email and full name.

[2021-12-16 10:04] tienle46 commented on #80
I'm also having this issue on 2.0.5. Calling` 'https://api.instagram.com/oauth/access_token'` returning Forbidden 403 on Android. Anyone got solution for this ?

[2021-12-16 10:20] Tymofiev commented on #80
The issue returned as unexpected as gone for me. I've been trying for an hour to figure out what the problem is and for now I see the possible issue with setting the cookies along with returning the response, seems like axios needs to be configured correctly for this.

[2021-12-16 15:14] cisplRejjak commented on #80
@Tymofiev did you find any solution for this?

[2021-12-17 01:08] Dlas1212 commented on #80
+1

[2021-12-17 01:58] admass-github commented on #80
+1

[2021-12-17 01:59] unixkapl commented on #80
+1

[2021-12-17 02:31] tienle46 commented on #80
I have tried using Fetch as @buraktt suggested but it still returned Network Error which I guess is the same with axios error. Still looking for any solution.

[2021-12-17 02:39] unixkapl commented on #80
+1

[2021-12-17 14:53] Dlas1212 opened #102 "403 Error [URGENT]"
Calling 'https://api.instagram.com/oauth/access_token' returning Forbidden 403. Started yesterday randomly.

I am on the latest version too.

[2021-12-17 15:11] unixkapl commented on #102
+1

[2021-12-17 20:16] alyn3d commented on #102
+1

[2021-12-18 10:24] saurabhjayx commented on #102
same happening with me

[2021-12-20 11:34] Tymofiev commented on #80
Looks like issues appears because of spaming with `/oauth/access_token`, tried on another account and it worked. Found some descriptions on 403 errors in here https://developers.facebook.com/docs/instagram-basic-display-api/reference/error-codes/ It says that error could be thrown when _Rate limit exceeded_.

[2021-12-20 13:10] alyn3d commented on #102
As far as I can tell there's an issue with the **redirectUrl**
Still haven't figured how to solve it.

[2021-12-20 14:19] hungdev commented on #80
But i tried with postman with the same account, and it still works. I don't know exactly where the problem is coming from.

[2021-12-20 14:25] hungdev commented on #80
And we should only discuss in 1 topic. Please don't discuss the error: returned 403 here.
Everything related to `returned 403` should discuss in
https://github.com/hungdev/react-native-instagram-login/issues/102

[2021-12-20 15:23] Tymofiev commented on #80
Hmm, one more thing that I noticed that it didn't work when I didn't receive notification on IG app about new login from some browser. Have no idea how it can be connected though

[2021-12-20 15:27] Dlas1212 commented on #80
I solved the issue and still not sure why it doesn't work.

/authorize works and returns you the code. You may use PostMan on /access_token and it works. Although using /access_token within the package throws a 403. Switching axios -> fetch, still throws the same error ONLY on /access_token.
This has nothing to do with rate limits since you can literally get the values from another spot.

What I e

[2021-12-20 15:50] alyn3d commented on #80
@Dlas1212 You're talking about making the call within redirectUrl on backend, right?
Then how do you capture the access_token on the frontend side, cause react-native-instagram-login is looking for the code in querystring.

[2021-12-20 15:52] Dlas1212 commented on #80
InstagramLogin - leave the app secret key empty, which will return you the authorize code in loginSuccess(). Then make your api call - pass the code - do the /access_token there and return access_token to your app.

[2021-12-20 15:54] alyn3d commented on #80
Oh, now it makes sense to me. Thank you :)

[2021-12-20 18:33] jashan69 commented on #86
Hey @Muhammad-GH , got it working? Getting the same error

[2021-12-21 11:21] Tymofiev commented on #102
What I noticed is that when it's first time I logged into IG then it worked just fine, and if it's second attempt so browser kinda had already remembered my account - it failed with 403.
![telegram-cloud-photo-size-2-5336794829092403584-y](https://user-images.githubusercontent.com/44410158/146921411-d27183fe-9001-401d-b74a-154205996e1a.jpg)

I suppose it is the cookies issue, as it returned html p

[2021-12-22 02:27] hungdev commented on #102
I don't think so, because I tried with props `incognito` but it still gets that issue.

[2021-12-22 09:37] sujay-bidchat commented on #102
+1

[2021-12-22 09:40] sujay-bidchat commented on #102
Adding to all the above comments. This issue comes only for Android. It works perfectly fine for iOS every time. Even it works every time on Postman too.

[2022-01-02 19:16] nimit07 commented on #102
@sujay-bidchat  were you able to find a solution for this?

[2022-01-03 08:55] sujay-bidchat commented on #102
@nimit07 I have found a workaround for this issue. You can send the "code" to BE and let them get the access_token for you. This is what I've done.

[2022-01-03 13:54] saurabh-cimpress commented on #102
Having the same issue. Any workaround or Fix?

[2022-01-04 05:31] saurabh-cimpress commented on #86
I also have the same html page not found error. Did anyone manage to have a workaround?

[2022-01-05 05:55] Thilina-B commented on #96
I also have the same issue. Did you find a solution for this?

[2022-01-10 12:35] alyn3d commented on #102
Workaround that I ended up using is [this](https://github.com/hungdev/react-native-instagram-login/issues/80#issuecomment-998026216)

[2022-01-10 12:59] sujay-bidchat commented on #102
I have done the same as mentioned above.

[2022-01-10 12:59] sujay-bidchat commented on #80
https://github.com/hungdev/react-native-instagram-login/issues/102#issuecomment-1003946692

[2022-01-10 20:14] bleszerd commented on #80
I wanted to highlight this answer, it's simple, but it solved my problem

[2022-01-10 20:56] Dlas1212 commented on #80
It's already using client_id and client_secret

[2022-02-21 10:33] tragicmj commented on #58
@nihp how did you generate long live tokens?

[2022-02-23 06:00] tragicmj opened #104 "Invalid Response Type token"
I am getting the below error when responseType is set to 'token'
[code]
![simulator_screenshot_90076576-CF4B-41FC-8F1E-871108E7D437](https://user-images.githubusercontent.com/44090234/155268698-7f807840-4578-416d-b063-bab755c5e816.png)

[2022-02-23 06:05] tragicmj opened #105 "Getting Invalid User Id"
[code]
The piece of code is working fine,  I am getting the access token and user id but the user id doesn't matches with the user id which we are getting from the web side. And thus we are unable to get any user details from app

[2022-03-04 07:18] Ameer-Muawiya commented on #104
remove response type

[2022-03-16 06:57] mniYUNSU opened #107 ""Continue with Facebook" doesn't work."
Hello, Im Junior Developer from South Korea.

I used this library to authenticate user's Instagram account.
Instagram login works well, but "Continue with Facebook" does not work.

How can I succeed in "Continue with Facebook"?

attachment of related video(gif) :

https://cdn.discordapp.com/attachments/845098543580053505/953546796125265940/continue_with_facebook.gif

[2022-03-24 01:57] mniYUNSU commented on #107
This problem has been solved.

[2022-04-11 07:04] RajeshSFS commented on #107
Hi @mniYUNSU

How did you solve this issue, I'm still getting "Continue with Facebook" not working in android. As mentioned here: https://github.com/hungdev/react-native-instagram-login/issues/99

[2022-04-11 07:23] mniYUNSU commented on #107
Hi @RajeshSFS

Actually, it hasn't been solved completely.
"Continue with Facebook" does not work. Because Facebook Login does not work in WebView.

If you want it to work, react-native-fbsdk must be used.

An example of this problem is TikTok and Tinder.
TikTok and Tinder also has Instagram Login, but "Continue with Facebook" does not work...

In other words, Continue with Facebook is not possibl

[2022-04-11 07:29] RajeshSFS commented on #107
Thanks @mniYUNSU for quick reply. Yes only login with Instagram is working.

[2022-05-08 23:01] rililive opened #110 "Could you update axios so it is not longer a critical vulnerability"

[2022-05-09 03:53] hungdev commented on #110
@rililive  feel free to create a pull request

[2022-05-09 13:33] rililive commented on #110
@hungdev Hi, I have created a branch, but I don't have permissions to push to this repo.

Example changes
[code]

[2022-05-14 11:07] MrShtrahman opened #111 "Adding types"
Hi, this project is pretty nice :)

I think that changing it to typescript and adding types would make this project even better

[2022-05-14 11:11] hungdev commented on #110
You can fork it and create a new pull request to my repo.

[2022-05-14 11:13] hungdev commented on #111
I dont have much time to do it. Feel free to create a pull request. I really appreciate it.

[2022-05-14 14:55] rililive commented on #110
Ok, PR here https://github.com/hungdev/react-native-instagram-login/pull/112

[2022-05-30 09:31] princefishthrower opened #113 "How is this component secure? The app secret is required in the component?"
Hi all,

I'm wondering how this component / login flow is secure, as it requires the app secret directly as a prop. Shouldn't the app secret be referenced and used only in a server-like environment?

Interested to hear anybody's thoughts on this.

Cheers,

Chris

[2022-05-30 09:48] princefishthrower commented on #113
My bad, I now see the discussion: https://github.com/hungdev/react-native-instagram-login/issues/54 and the corresponding documentation in the README. However, this should be the default implementation. (app secret should not even be implemented as a prop)

[2022-05-30 09:48] #113 closed

[2022-09-27 16:41] UmidbekU commented on #111
Hi everyone, add to declarations.d.ts

`
declare module 'react-native-instagram-login' {
  import * as React from 'react'

  interface InstagramLoginProps {
    ref: React.RefObject<any>
    appId: string
    appSecret: string
    redirectUrl: string
    scopes: string[]
    onLoginSuccess?: (token: string) => void
    onLoginFailure?: (error: string) => void
    modalVisible?: boolean
    respons

[2022-10-14 08:47] MehdiB30 opened #116 "Redirect on a mobile screen"
Hi there,
I added react-native-instagram-login in my mobil app and set up the basic display IG on Facebook Dev Platform. Nevertheless, I would like to set up a specific URL allowing to my user to be redirected to a specific screen of my mobil app.

Does anyone have an idea about how to do that ?

Thank you by advance